﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <script src="js/jquery.js" type="text/javascript"></script>

    <script type="text/javascript">
        function Test() {
            debugger;
            var FunctionName;
            FunctionName = "https://api.smtp.com/v1/account.json?api_key=6380f2ba4d2afc825d78743e35f008c92fa50580"
            $.ajax({
                type: "POST",
                url: FunctionName,
                // Pass the "Count" parameter, via JSON object.
                //data: "{'currentClientDeptId':'" + document.getElementById("hdnDeptDeptID").value + "','type':'Station'}",
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(msg) {
                    debugger;
                    alert('yes');
                    //GenerationStationButtonList(msg);
                },
                error: function(xhr, textStatus, errorThrown) {
                    debugger;
                    // Handle error
                    alert('no');
                }
            });
        }
    </script>

</head>
<body onload="Test();">
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="btn" runat="server" Text="Send Mail" OnClick="btn_OnClick" />
    </div>
    </form>
</body>
</html>
